<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="container p-4 pb-0">
    <section>
      <form action="">
        <div class="row align-self-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Do you like this app? Leave some feedback:</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-floating form-white mb-4">
              <input type="text" id="form5Example2" class="form-control" placeholder="Awesome app!" />
              <label class="form-label text-black" for="form5Example2">Your comment: (feature under
                construction)</label>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light btn-large mb-4">
              Submit!
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
  <div class="text-center p-3" id="footer-bottom-line">2022
    <img src="../assets/img/git.png" height="25" class="d-inline-block align-top" alt="">
    <a href="http://github.com/codebyub" target="_blank"> codebyub</a>
  </div>
</footer>